<ion-header>
  <mat-toolbar color="warn" style="height: 80px; padding: 28px 0 0 0;">
    <ion-menu-button menu="mains"></ion-menu-button>
    <div class="small">广告管理</div>
    <button mat-button class="ml-auto fa" [ngClass]="showDetail ? 'fa-mail-reply' : 'fa-plus'" (click)="create()"></button>
    <button mat-button *ngIf="!showDetail" class="fa fa-minus" (click)="toDelete = !toDelete"></button>
  </mat-toolbar>
</ion-header>

<ion-content *ngIf="!showDetail">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="加载中..."></ion-refresher-content>
  </ion-refresher>

  <div class="table-responsive-sm">
    <table class="table table-hover table-borderless small">
      <thead class="thead-light">
      <tr>
        <th scope="col" *ngIf="toDelete">#</th>
        <th scope="col">名称</th>
        <th scope="col">更新</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of elementData;" (click)="choose(data)">
        <th scope="row" class="text-center text-danger" *ngIf="toDelete"><span class="fa fa-minus-circle"></span></th>
        <td>{{data.title}}</td>
        <td>{{data.updateTime | date:'MM-dd HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-content class="ion-padding" *ngIf="showDetail">
  <form [formGroup]="slideForm" novalidate>
    <div class="px-3">
      <mat-form-field>
        <input matInput placeholder="标题" formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="描述" formControlName="description">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="链接" formControlName="link">
      </mat-form-field>
    </div>
  </form>

  <ion-item button (click)="updateImage()">
    <ion-label style="color: gray">上传图片</ion-label>
  </ion-item>
  <div *ngIf="imageBase64" class="text-center">
    <img [src]="imageBase64">
  </div>
  <br>
  <ion-button class="ion-padding" expand="full" (click)="setSlide()" [disabled]="!slideForm.valid">确定</ion-button>
</ion-content>
