<ion-header>
  <mat-toolbar class="mat-elevation-z2" style="height: 80px; padding: 28px 0 0 0;">
    <ion-menu-button menu="mains" color="dark"></ion-menu-button>
    <div class="input-group px-2">
      <input type="text" class="form-control" [formControl]="searchContent" (keydown.enter)="doSearch()">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="doSearch()">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>
  </mat-toolbar>
</ion-header>


<ion-content color="medium" fullscreen>
  <mat-card class="m-2" *ngFor="let data of dataShow">
    <mat-card-title style="color: darkblue; font-size: large; cursor: pointer;" (click)="goToDetail(data)" [innerHTML]="data?.name | highlight"></mat-card-title>
    <mat-card-content>
      <div class="text-secondary">
        <span>产品代码：</span>
        <span [innerHTML]="data?.code | highlight"></span>
      </div>
      <div class="text-secondary" *ngIf="data.code_register">
        <span>登记编码：</span>
        <span [innerHTML]="data?.code_register | highlight"></span>
      </div>
      <div class="mt-2 d-flex justify-content-between">
        <div style="color: darkcyan; cursor: pointer;" [innerHTML]="data?.bank_name | highlight" (click)="goToExternal(data?.bank_name)"></div>
        <div>{{data.create_time | date: 'yyyy-MM-dd'}}</div>
      </div>
    </mat-card-content>
  </mat-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
