.box-button {
  height: 100%;
  width: 100%;
}

.box-col {
  height: 160px;
}

.pane {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}